In [314]:
#import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# Data Loading

In [315]:
#read the loan data csv
df = pd.read_csv('loan.csv')
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

# Data Understanding and Cleaning

In [316]:
# get the column names
print(df.columns)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [317]:
#get data shape
df.shape

(39717, 111)

In [318]:
# get data description
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

## Cleaning columns with all Null Values

In [319]:
#get the columns with null values greater than 0
#Calculate the number of null values per column
null_sum = df.isnull().sum()
#Identify columns with null values greater than 10,000
null_sum_filtered = null_sum[null_sum > 0]
print(null_sum_filtered)

emp_title                      2459
emp_length                     1075
desc                          12942
title                            11
mths_since_last_delinq        25682
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 68, dtype: int64

In [320]:
# Drop columns with all NA values
df = df.dropna(axis=1, how='all')

In [321]:
#again check the columns with null values greater than 0
null_sum = df.isnull().sum()
null_sum_filtered = null_sum[null_sum > 0]
print(null_sum_filtered)

emp_title                      2459
emp_length                     1075
desc                          12942
title                            11
mths_since_last_delinq        25682
mths_since_last_record        36931
revol_util                       50
last_pymnt_d                     71
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
chargeoff_within_12_mths         56
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

## Cleaning columns with Null Values greater than 10000

In [322]:
#drop the columns with null values greater than 10000
#Calculate the number of null values per column
null_counts = df.isnull().sum()

#Identify columns with null values greater than 10,000
columns_to_drop = null_counts[null_counts > 10000].index

#Drop these columns
df = df.drop(columns=columns_to_drop)

In [323]:
#again check the columns with null values greater than 0
null_sum = df.isnull().sum()
null_sum_filtered = null_sum[null_sum > 0]
print(null_sum_filtered)

emp_title                     2459
emp_length                    1075
title                           11
revol_util                      50
last_pymnt_d                    71
last_credit_pull_d               2
collections_12_mths_ex_med      56
chargeoff_within_12_mths        56
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

In [324]:
#get the number of null values
df.isnull().sum()

id                               0
member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                     2459
emp_length                    1075
home_ownership                   0
annual_inc                       0
verification_status              0
issue_d                          0
loan_status                      0
pymnt_plan                       0
url                              0
purpose                          0
title                           11
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                      50
total_acc                        0
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_d                    71
last_pymnt_amnt                  0
last_credit_pull_d               2
collections_12_mths_ex_med      56
policy_code                      0
application_type                 0
acc_now_delinq                   0
chargeoff_within_12_mths        56
delinq_amnt                      0
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

## Data handling in columns

### 'application_type' column

In [325]:
#analyse 'application_type' values
df.application_type.value_counts()

application_type
INDIVIDUAL    39717
Name: count, dtype: int64

In [326]:
##drop 'application type' column as it has only 'INDIVIDUAL' value
df = df.drop(columns=['application_type'])

### 'tax_liens' column

In [327]:
#analyse 'tax_liens' values
df.tax_liens.value_counts()

tax_liens
0.0    39678
Name: count, dtype: int64

In [328]:
df[np.isnan(df['tax_liens'])].shape

(39, 52)

In [329]:
# 39678+39 = 39717 which is total number of rows. that means, either the value is 0.0 or null so we drop the column
df = df.drop(columns=['tax_liens'])

### 'chargeoff_within_12_mths' column

In [330]:
df.chargeoff_within_12_mths.value_counts()

chargeoff_within_12_mths
0.0    39661
Name: count, dtype: int64

In [331]:
df[np.isnan(df['chargeoff_within_12_mths'])].shape

(56, 51)

In [332]:
# 39661+56 = 39717 which is total number of rows. that means, either the value is 0.0 or null so we drop the column
df = df.drop(columns=['chargeoff_within_12_mths'])

### 'collections_12_mths_ex_med' column

In [333]:
df.collections_12_mths_ex_med.value_counts()

collections_12_mths_ex_med
0.0    39661
Name: count, dtype: int64

In [334]:
df[np.isnan(df['collections_12_mths_ex_med'])].shape

(56, 50)

In [335]:
# 39661+56 = 39717 which is total number of rows. that means, either the value is 0.0 or null so we drop the column
df = df.drop(columns=['collections_12_mths_ex_med'])

In [336]:
#get the number of null values
df.isnull().sum()

id                            0
member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_title                  2459
emp_length                 1075
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
url                           0
purpose                       0
title                        11
zip_code                      0
addr_state                    0
dti                           0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                   50
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                 71
last_pymnt_amnt               0
last_credit_pull_d            2
policy_code                   0
acc_now_delinq                0
delinq_amnt                   0
pub_rec_bankruptcies        697
dtype: int64

### 'delinq_amnt' column, 'acc_now_delinq' column

In [337]:
df.delinq_amnt.value_counts()

delinq_amnt
0    39717
Name: count, dtype: int64

In [338]:

df.acc_now_delinq.value_counts()

acc_now_delinq
0    39717
Name: count, dtype: int64

In [339]:
# all values are 0 so we drop the column
df = df.drop(columns=['delinq_amnt'])
df = df.drop(columns=['acc_now_delinq'])

### 'policy_code' column

In [340]:
df.policy_code.value_counts()

policy_code
1    39717
Name: count, dtype: int64

In [341]:
##drop 'policy_code ty' column as it has only '1' value
df = df.drop(columns=['policy_code'])

In [342]:
#get the number of null values
df.isnull().sum()

id                            0
member_id                     0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_title                  2459
emp_length                 1075
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
url                           0
purpose                       0
title                        11
zip_code                      0
addr_state                    0
dti                           0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                   50
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                 71
last_pymnt_amnt               0
last_credit_pull_d            2
pub_rec_bankruptcies        697
dtype: int64

## Sanity Checks

### Exploring 'int-rate' column

In [343]:
# manipulate and change the dtype of 'int_rate'
df["int_rate"].value_counts()

int_rate
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: count, Length: 371, dtype: int64

In [344]:
df.int_rate = df.int_rate.str.replace("%","").astype('float64')

In [345]:
df["int_rate"].value_counts()

int_rate
10.99    956
13.49    826
11.49    825
7.51     787
7.88     725
        ...
18.36      1
16.96      1
16.15      1
16.01      1
17.44      1
Name: count, Length: 371, dtype: int64

### Exploring 'title' column

In [346]:
#Exploring 'title' column
df['title'].value_counts()

title
Debt Consolidation                  2184
Debt Consolidation Loan             1729
Personal Loan                        659
Consolidation                        517
debt consolidation                   505
                                    ...
your rate is better than my rate       1
Concession Trailer                     1
gregs                                  1
EZover                                 1
JAL Loan                               1
Name: count, Length: 19615, dtype: int64

In [347]:
# In 'title' column setting a single value for 'Debt Consolidation ,Debt Consolidation Loan, Consolidation,debt consolidation 

df.loc[df['title'].str.lower() == "consolidation", 'title'] = 'Debt Consolidation'

df.loc[df['title'].str.lower().str.contains("debt consolidation", na = False), 'title'] = 'Debt Consolidation'

df.loc[df['title'].str.lower().str.contains("debt consolidation loan", na = False), 'title'] = 'Debt Consolidation'

In [348]:
df['title'].value_counts()

title
Debt Consolidation           6717
Personal Loan                 659
Credit Card Consolidation     356
Home Improvement              356
Small Business Loan           328
                             ...
Medical for Heather             1
Coaching Program                1
Track/Fun Car Loan              1
pokerbeat                       1
JAL Loan                        1
Name: count, Length: 18909, dtype: int64

In [349]:
df['title'].isnull().sum()

11

In [350]:
df['title'].mode()[0]

'Debt Consolidation'

In [351]:
#filling the null values with mode() value - 'Debt Consolidation'
df["title"] = df["title"].fillna(df['title'].mode()[0])

In [352]:
df['title'].isnull().sum()

0

### The 'total amount committed to that loan' and 'total amount committed by investors for that loan' should be less than equal to 'loan amount requested'

In [353]:
df[df.funded_amnt>df.loan_amnt]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies]
Index: []

[0 rows x 46 columns]

In [354]:
df[df.funded_amnt_inv>df.loan_amnt]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies]
Index: []

[0 rows x 46 columns]

### removing the null value rows for 'emp_length' column as they are very less compared to the total number of rows

In [355]:
df["emp_length"].isnull().sum()

1075

In [356]:
df = df[~df["emp_length"].isnull()]

In [357]:
df["emp_length"].isnull().sum()

0

## Filtering Data

### removing columns irrelevant to analysis

In [358]:
# remove columns - id, member_id, emp_title, pymnt_plan, url, desc, zip_code,mths_since_last_record, pub_rec, 
# revol_bal, revol_util, out_prncp, out_prncp_inv, total_pymnt_inv, total_rec_prncp, total_rec_int, 
# recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies

In [359]:
columnstodrop = ['id', 'member_id', 'emp_title', 'pymnt_plan', 'url','title', 'zip_code', 
'revol_bal', 'revol_util','initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 
'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d']
df = df.drop(columns=columnstodrop)

In [360]:
df.shape

(38642, 26)

In [361]:
# Check if there are any duplicates
has_duplicates = df.duplicated().any()
print(has_duplicates) # Output: False, means no duplicate records

False

In [362]:
df.isnull().sum()

loan_amnt                 0
funded_amnt               0
funded_amnt_inv           0
term                      0
int_rate                  0
installment               0
grade                     0
sub_grade                 0
emp_length                0
home_ownership            0
annual_inc                0
verification_status       0
issue_d                   0
loan_status               0
purpose                   0
addr_state                0
dti                       0
delinq_2yrs               0
earliest_cr_line          0
inq_last_6mths            0
open_acc                  0
pub_rec                   0
total_acc                 0
total_pymnt               0
total_rec_late_fee        0
pub_rec_bankruptcies    697
dtype: int64